---
layout: default
title: Home
---

<div class="post">

  <h1>OpenMOT: Open Source Atomic Trapping</h1>
  <span class="post-date">Documentation and instructional guide for constructing a magneto-optical trap for rubidium atoms</span>

  Atomic 'traps' capable of cooling ensembles of atoms to a fraction above absolute zero are quickly becoming a leading method
  for the generation of single-photon sources, quantum sensors, and <a href="https://arxiv.org/abs/2006.12326">quantum computers</a>.
  However, there is a distinct lack of publicly available practical implementation details for these devices. Moreover, of this sparse
  documentation, the majority of it relies on purchasing a significant amount of expensive commercial equipment (e.g. a <a href="https://advlabs.aapt.org/bfy/Detail.cfm?id=4761">a rubidium MOT tutorial from Ithaca
  College</a>, which utilizes a completely pre-fabbed vacuum and atom dispenser system; their total build costs over $40,000). <br> <br>

  This series of posts describes my experience in fabricating a magneto-optical trap from scratch, a process which has taken me eight months (and counting) and a total expenditure of just under $4,000
  (including several mistakes and unnecessary purchases; the final bill of materials should be significantly cheaper, albeit reliant on some auction site luck). <br> <br>

  In particular, I aim to explain the history, principles, and fabrication of such an apparatus. These posts assume no prior knowledge in atomic physics, but implementation does require
  access to electronics and machining equipment.

  <h2>Theory</h2>

  Start here if you are interested in how a magneto-optical trap (MOT) works, and why they are important tools in science:<br><br>

  <ol type="I">
    <li> <a href="{{site.baseurl}}2021/10/13/intro-to-atomic-trapping/">Introduction to Atomic Trapping</a></li>
    <li>An Overview of Fabrication</li>
    <li>The Monochromatic Laser</li>
    <li>The Vacuum System</li>
    <li>Cooling Atoms</li>
    <li>Analysis</li>
  </ol>

  <h2>Fabrication Guide</h2>

  The following are concise guides on how to construct the various components required to implement your own atom trap.

  <h3>Laser System</h3>

  <h4 style="margin-left:20px;">Optical Instruments</h4>
  <ol style="margin-left:40px;" type="a">
    <li> <a href="">'Cateye' External-Cavity Diode Laser</a></li>
    <li> <a href="">3D Printed Kinematic Mirror Mounts</a></li>
    <li> <a href="">DIY Faraday Rotator</a></li>
  </ol>

  <h4 style="margin-left:20px;">Control Circuits</h4>

  <ol style="margin-left:40px;" type="a">
    <li> <a href="">Precision Laser Diode Current Controller</a> (0-200mA, 100nA RMS noise)</li>
    <li> <a href="">Precision Piezoelectric Actuator Driver</a> (8-95V, 100uV RMS noise)</li>
    <li> <a href="">Temperature Stabilizer Controller</a> (2A output, uses Peltier device and AD590)</li>
  </ol>

  <h4 style="margin-left:20px;">Saturated Absorption Spectroscopy</h4>

  <ol style="margin-left:40px;" type="a">
    <li> <a href="">Theory</a></li>
    <li> <a href="">Setup Guide</a></li>
  </ol>

  <h3>Vacuum System</h3>

  <h4 style="margin-left:20px;"><a href="">Full System Schematics</a></h4>

  <h4 style="margin-left:20px;">Mounting Apparatus and Controllers</h4>
    <ol style="margin-left:40px;" type="a">
      <li> <a href="">Tetrahedral Optical Trap Mount</a></li>
      <li> <a href="">Magnetic Coil Mount w/ 3-Axis Compensation</a></li>
      <li> <a href="">4-Channel Magnetic Coil Controller</a></li>
      <li> <a href="">Beam Alignment Controller</a></li>
      <li> <a href="">OpenMV H7 Camera Mount for CF40 Viewports</a></li>
    </ol>



  <h3><a href="">Total Bill of Materials</a> (updated Nov 29 2021)</h3>



</div>





<!-- <div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div> -->
