
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.url }}">
          {{ site.title }}
        </a>
      </h1>
      <!-- <p class="lead">{{ site.description }}</p> -->
      <img src="{{ site.url }}/public/me_and_haas.jpg" style="max-height: 50vh; width: auto; display: block;">
    </div>

    <nav class="sidebar-nav">
      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      <a>
        I am a security engineer, computer science researcher, and amateur physicist.
        This site serves as a repository for my personal projects, which encompass industrial design,
        experimental physics, light as an art medium, electronic musical instruments, and more.
        I am a strong advocate for open-source technology and improving the accessibility of science.
        Please feel free to reach out regarding any of my work.
      </a>

    </nav>

    <p class="sidebar-footer" style="position:absolute; bottom:0; width:100%; font-size: 0.5rem;">
      <a style="font-size:25px; position: center;">
        <a href="https://twitter.com/m_shirokawa" class="icon-block" style="font-size:25px;">
          <i class="fa fa-twitter" style="color:#ADD8E6;"></i>
        </a>
        <a href="https://github.com/m-k-S" class="icon-block" style="font-size:25px; padding-left:8px;">
          <i class="fa fa-github" style="color:#FFFFFF;"></i>
        </a>
        <a href="https://incoherent.substack.com/" class="icon-block" style="font-size:25px; padding-left:8px; color:#FFD580;">
          <i class="fa fa-rss"></i>
        </a>
      </a>

      <br><br>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</div>
