<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
      <img src="public/me_and_haas.jpg">
    </div>

    <nav class="sidebar-nav">
      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      <a>
        I am a security engineer, computer science researcher, and amateur physicist.
        This site serves as a repository for my personal projects, which encompass industrial design,
        experimental physics, light as an art medium, electronic musical instruments, and more.
        I am a strong advocate for open-source technology and improving the accessibility of science.
        Please feel free to reach out regarding any of my work.
      </a>

    </nav>

    <p style="position:absolute; bottom:0; width:100%; font-size: 0.5rem;">&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
